// fill in [your tenant] and [the application ID] below
// and rename this file to secret.service.ts

import { Injectable } from '@angular/core';
@Injectable()
export class SecretService {
    public get adalConfig(): any {
        return {
            tenant: '[your tenant]',
            clientId: '[a GUID, the application ID]',
            redirectUri: window.location.origin + '/',
            postLogoutRedirectUri: window.location.origin + '/'
        };
    }
}